$twitter-color: #66D0C8;
$tinder-color: #B8605B;
$messenger-color: #457EEF;
$instagram-color: #FDD241;

$black: #212121;
$white: #FFFFFF;
$hard-grey : #808080;
$grey: #9B9B9B;
$light-grey: #E3E3E3;

$font-color-black: #383838;
$font-color-white: $white;
$font-color-grey: $grey;

